:host {
  display: inline-block;
  float:left;
  border: 1px solid rgb(39, 134, 76);
  border-radius: 5px;
  height: 200px;
  margin: 10px;
  padding: 5px;
  width: 250px;

  h1 {
    font-size: 1.25rem;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  p {
    font-size: 0.95rem;
    margin-bottom: 5px;
  }

  span {
    font-size: 1rem;
    font-weight: bold;
  }

  button {
    margin-left: 20px;
    padding: 5px 10px;
    background-color: rgb(144, 10, 185);
    font-weight: bold;
    border-radius: 10px;
    color: white;
  }
}
